<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Effilink Solutions</title>
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="navbar">
    <div class="brandname">
        <a href="">  <h1>Effilink Solutions</h1></a>
    </div>

    <div class="menu">
        <a href=""><button>Home</button></a>
        <a href=""><button>About</button></a>
        <a href=""><button>Services</button></a>
        <a href=""><button>Contacts</button></a>
    </div>
</div>

<div class="body">
    <div>
        <h1>Effilink Solutions</h1>
        <p class="information">EFFILINK SOLUTIONS is a well serving company in terms of commitment.
            We offer the best services to our clients.
            We are a reputable dynamic company and staffed by professionals with hands-on-hand experience. </p>


        <div class="btnsubscribe">
            <button class="subscribe">Subscribe to our News Letter</button>
        </div>
    </div>

</div>

<div class="links">
    <div class="contact">
        <h3>Contacts</h3>
        <strong>Denis Kathurima</strong> <br>
        <strong>Mobile Number: 07165xxx66</strong> <br>
        <strong>Nairobi, Kenya</strong>
    </div>
</div>

<div class="copyright">
    <div class="footer">
        <footer>
            <p>Copyright @2024 Effilink Solutions</p>
        </footer>

    </div>
</div>


</body>
</html>